/* Global */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
/* Header */
header {
  background-color: black;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}
.logo {
  max-height: 50px;
}
.main-nav li {
  display: inline;
  text-decoration: underline;
  margin: 5px;
}
.main-nav a {
  color: white;
}
/* Container */
.container {
  padding-top: 69px;
  margin: auto;
  width: 1200px;
}
/* Mission Section */
.hero {
  display: flex;
  align-items: center;
  height: 700px;
  padding-top: 70px;
  background-image: url("../images/img-mission-background.jpg")
}
.hero-text {
  display: block;
  width: 100%;
  background-color: black;
}
/* Tea of the Month */
.tea-of-the-month {
  display: block;
  width: 1000px;
  margin: 0 auto;
}
.tea-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
}
.tea {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.tea img {
  width: 300px;
  height: 200px;
}
.tea span {
  padding-top: 10px;
}
/* Locations */
.locations-container {
  margin-top: 30px;
  height: 500px;
  background-image: url("../images/img-locations-background.jpg");
}
.section-3-header {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}
.locations {
  display: flex;
  justify-content: center;
}
.location {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 300px;
  padding: 20px;
  margin: 40px;
  opacity: 1;
}
.location span {
  padding: 10px;
}
/* Footer */
footer {
  height: 200px;
}
.copyright {
  padding-left: 20px;
  text-align: left;
}
